
[Unit]
Description=Get temp, humid, and humiditydeficit data & Post to the monitor
After=rc-local.service
[Service]
WorkingDirectory=/home/pi/mh-z19
ExecStart=/usr/bin/sudo /usr/bin/python -m pondslider --interval 5
Restart=always
#RestartSec=90
RestartSec=30
Type=simple
PIDFile=/var/run/mh-z19.pid
[Install]
WantedBy=multi-user.target

